@inject IJSRuntime JS
@page "/Restablecer"
<!-- Limites-->
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <div class="bordeinicio">

            <h1>Restablecer Contraseña!</h1>
            <br>
            <div class="input-contenedor">

                <i class="fa fa-key" aria-hidden="true"></i>
                <input type="text" placeholder=" Nueva Contraseña">
                <p class="text-black"><a data-bs-toggle="tooltip" data-bs-title="Al colocar la nueva contraseña se pide que no se parezca a la anterior.">Coloque una nueva contraseña</a></p>
            </div>
            <div class="input-contenedor">
                <i class="fa fa-key" aria-hidden="true"></i>
                <input type="password" placeholder="Repita la contraseña">
                <p class="text-black"><a data-bs-toggle="tooltip" data-bs-title="Al repetir la contraseña esta tiene que ser identica a la ya colocada en la parte superior.">Repita la contraseña</a></p>
            </div>
            <br>
            <div class="botonregistrar">
                <input type="submit" value="Restablecer" class="button ">
            </div>
        </div>
    </div>
</header>
@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("addTooltips");
        }
    }
}
