@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<button class="btn btn-primary">Agregar categorias</button>

@code {
    private void CrearObj()
    {
        using var db = new CompraContext();

        Categoria categoria1 = new Categoria()
        {
                Nombre = "Choripan"
        };
        Categoria categoria2 = new Categoria()
        {
                Nombre = "Pizza"
        };
        Categoria categoria3 = new Categoria()
        {
                Nombre = "Torta"
        };
        Categoria categoria4 = new Categoria()
        {
                Nombre = "Hamburguesa"
        };
        Categoria categoria5 = new Categoria()
        {
                Nombre = "Empanada"
        };
        Categoria categoria6 = new Categoria()
        {
                Nombre = "Bebida"
        };

        db.Add(categoria1);
        db.Add(categoria2);
        db.Add(categoria3);
        db.Add(categoria4);
        db.Add(categoria5);
        db.Add(categoria6);
        db.SaveChanges();
    }
}