@page "/InicioSesion"

<!-- Limites-->
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <div class="bordeinicio">
            <h1>Inicia Sesion!</h1>
            <br>
            <div class="input-contenedor">
            </div>
            <div class="input-contenedor">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <input type="text" placeholder="Correo Electronico">
            </div>
            <div class="input-contenedor">
                <i class="fa fa-key" aria-hidden="true"></i>
                <input type="password" placeholder="Contraseña">
            </div>
            <p class=" text-black"><a class="link text-black" href="/Registro"> Olvidaste tu contraseña?</a></p>
            <br>
            <div class="botonregistrar">
                <input type="submit" value="Iniciar Sesion" class="button ">
            </div>
            <br>
            <br>
            <p class=" text-black">Al iniciar sesion, estas aceptando nuestras Condiciones de uso y Politica de privacidad.</p>
            <p class=" text-black">No tienes cuenta? <a class="link text-black" href="/Registro"> Registrate</a></p>
        </div>
    </div>
</header>