@page "/OlvidarContraseña"  
    <!-- Limites-->
    <header class="masthead bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">
            <div class="bordeinicio">
              <h1 >Coloque su correo electronico</h1>
              <br>              
               <div class="input-contenedor">
                   <i class="fa fa-envelope" aria-hidden="true"></i>
                   <input type="text" placeholder="Correo Electronico">
               </div>
                <div class="botonregistrar">
               <input type="submit" value="Restablecer Contraseña" class="button ">
               </div>
               <br>
               <p class="text-black">Una vez que haya colocado su correo electronico y haga click en el boton Restablecer contraseña se le enviara un link a su correo, acceda a el y podra restablecer su contraseña! </p>
               
                </div>
        </div>
    </header>