@page "/tortas"
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <h3>Selecciona la Torta ideal para vos!</h3>
        <div class=" gap-1">
            <select class="btn btn-dark p-2  border" @onclick="CambiarImagen" @bind="Model.Id">
                <option selected value="0">-Selecciona la torta-</option>
                <option value="3">Torta de chocolate</option>
                <option value="5">Torta de zanahoria</option>
                <option value="6">Torta de vainilla</option>
                <option value="7">Pastafrola</option>
                <option value="8">Brownie</option>
                <option value="10">Torta de frambuesa</option>
            </select>
            <input class="btn btn-dark p-1  border" @bind="Model.Cantidad" type="number" min="1" max="10" />
        </div>
        <br>
        <br>
        <img src="@Model.Source" class="img-fluid w-40" />
        <br>
        <h2 class="text-black"> Precio = @Model.Total.ToString("C") </h2>
    </div>
    <div class="gap-1">
        <button class="btn btn-dark p-2 border" @onclick="CargarProductoCarrito">Agregar al carrito</button>
    </div>
</header>
<div class="contenedor-boton fixed-bottom">
    <div class="botoncarrito">
        <a class="carr border border-dark" href="/carrito"><i class="fas fa-shopping-cart fa-2x"></i></a>
    </div>
</div>
@code {
    private class ProductoViewModel
    {
        int _cantidad;
        int _id;

        public int Id
        {
            get
            {
                return _id;
            }
            set
            {
                _id = value;
                CalcularTotal();
            }
        }
        public int Cantidad
        {
            get
            {
                return _cantidad;
            }
            set
            {
                _cantidad = value;
                CalcularTotal();
            }
        }
        public string Source { get; set; } = "/css/imagenes/frol.jpg";
        public int Total { get; set; }

        public async void CalcularTotal()
        {
            using var db = new CompraContext();

            Total = 0;
            if (Id != 0)
                Total += ((await db.Productos.SingleAsync(a => a.ProductoId == Id)).Precio * Cantidad);
        }
    }

    protected override async Task OnInitializedAsync()
    {
        Model.Cantidad = 1;
    }
    private ProductoViewModel Model { get; set; } = new();

    private void CambiarImagen()
    {
        if (Model.Id == 3)
            Model.Source = "/css/imagenes/choco.png";
        else if (Model.Id == 6)
            Model.Source = "/css/imagenes/vanil.png";
        else if (Model.Id == 7)
            Model.Source = "/css/imagenes/frol.png";
        else if (Model.Id == 8)
            Model.Source = "/css/imagenes/brownie.png";
        else if (Model.Id == 5)
            Model.Source = "/css/imagenes/zanahoria.png";
        else if (Model.Id == 10)
            Model.Source = "/css/imagenes/frambuesa.png";
        else if (Model.Id == 0)
            Model.Source = "";
    }

    private void CargarProductoCarrito()
    {
        if (Model.Id != 0)
        {
            using var db = new CompraContext();

            Carrito carrito = db.Carritos.Include(c => c.Productos).Where(c => c.UsuarioId == 1).SingleOrDefault();

            if (carrito is not null)
            {
                CarritoProducto carritoProducto = new CarritoProducto()
                    {
                        ProductoId = Model.Id,
                        Cantidad = Model.Cantidad,
                    };

                carrito.Productos.Add(carritoProducto);
                db.SaveChanges();
            }
            else
            {
                //anashe
            }
            Model.Id = 0;
            Model.Cantidad = 1;
        }
        CambiarImagen();
    }
}

