@page "/chori"

<div>
    <form action="#">
        <div class="container">
            <h1>Ingrese la cantidad de choripanes que quiere:</h1>
            <input @bind="Model.Cantidad" type="number" min="0" max="5" />
            <br>
            <label>
                <input @bind="DeNombre.Criolla" type="checkbox" />
                Salsa criolla
            </label>
            <br>
            <label>
                <input @bind="DeNombre.Chimi" type="checkbox" />
                Chimichurri
            </label>
            <br>
        </div>
    </form>
    <button class="btn btn-primary" @onclick="CargarProductoCarro">Agregar al carrito</button>
</div>

@code {
    private class ProductoViewModel
    {
        public int Cantidad { get; set; }
        public int Precio = 100;
        public string Nombre { get; set; }
    }

    private class FormacionDeNombre
    {
        public bool Criolla { get; set; }
        public bool Chimi { get; set; }
    }

    private ProductoViewModel Model { get; set; } = new();
    private FormacionDeNombre DeNombre { get; set; } = new();

    private void CrearNombre()
    {
        if (DeNombre.Chimi && DeNombre.Criolla)
            Model.Nombre = "Choripan con chimichurri y salsa criolla";
        else if(DeNombre.Chimi && !DeNombre.Criolla)
            Model.Nombre = "Choripan con chimichurri";
        else if(!DeNombre.Chimi && DeNombre.Criolla)
            Model.Nombre = "Choripan con salsa criolla";
    }

    private void CargarProductoCarro()
    {
        using var db = new CompraContext();

        CrearNombre();

        Carrito carrito = new Carrito()
        {
            Productos = new List<CarritoProducto>()
        };
        Categoria categoria = new Categoria()
        {
            Nombre = "Choripan"
        };
        Producto producto = new Producto()
        {
                Nombre = Model.Nombre,
                Precio = Model.Precio,
                Cantidad = Model.Cantidad,
                Categoria = categoria,
                Carritos = new List<CarritoProducto>()
        };
        CarritoProducto carritoProducto = new CarritoProducto()
        {
            Producto = producto
        };
        
        carrito.Productos.Add(carritoProducto);
        db.Add(carrito);
        db.SaveChanges();
    }
}
