@page "/empanadas"

<input type="text" id="choripanes" list="cantidadCh">
                    <datalist id="cantidadCh">
                        <option label="1" value="1"></option>
                        <option label="2" value="2"></option>
                        <option label="3" value="3"></option>
                        <option label="4" value="4"></option>
                        <option label="5" value="5"></option>
                    </datalist>
                    
@code {

}
