@page "/chori"
<body id="page-top">
    <!-- Barra de navegación-->
    <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="#page-top">Choripanes</a>
            <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" style="cursor:pointer;" onclick="    document.getElementById('portfolio').scrollIntoView({behavior:'smooth'})">Comidas</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" style="cursor:pointer;" onclick="    document.getElementById('about').scrollIntoView({behavior:'smooth'})" >Quienes Somos?</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" style="cursor:pointer;" onclick="    document.getElementById('contact').scrollIntoView({behavior:'smooth'})" >Contactanos</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Limites-->
    <header class="masthead bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">
           <form action="#">
        <div class="flex-container">
            <h1>Ingrese la cantidad de choripanes que quiere:</h1>
            <input @bind="Model.Cantidad" type="number" min="1" max="15" />
            <br>
            <label>
                <input @bind="Model.Criolla" type="checkbox" />
                Salsa criolla
            </label>
            <br>
            <label>
                <input @bind="Model.Chimi" type="checkbox" />
                Chimichurri
            </label>
            <br>
        </div>
    </form>
    <button class="btn btn-primary" @onclick="CargarProductoCarro">Agregar al carrito</button>
    <button class="btn btn-primary" @onclick="VerCarrito">Ver carrito</button>
</div>
        
    </header>
<footer class="footer text-center">
        <div class="container">
            <div class="row">
                <!-- Locación -->
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Locación Escolar</h4>
                    <p class="lead mb-0">
                        Pellegrini 338.
                        <br />
                        6620, Chivilcoy, Buenos Aires, Argentina.
                    </p>
                </div>
                <!-- Iconos -->
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Encontranos en...</h4>
                    <a class="btn btn-outline-light btn-social mx-1" href="https://www.facebook.com/Escuela-Industrial-Chivilcoy-106196239412818"><i class="fab fa-fw fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light btn-social mx-1" href="https://twitter.com/dani_gariboldi"><i class="fab fa-fw fa-twitter"></i></a>
                    <a class="btn btn-outline-light btn-social mx-1" href="https://www.instagram.com/info7mo/"><i class="fab fa-fw fa-instagram"></i></a>
                    <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-dribbble"></i></a>
                </div>
                <!-- Donaciones -->
                <div class="col-lg-4">
                    <h4 class="text-uppercase mb-4">Donaciones</h4>
                    <p class="lead mb-0">
                        Aceptamos donaciones para apoyar y contribuir con la Fiesta y el Viaje de Egresados.
                        <br>                       
                        <a href="http://startbootstrap.com">DONA AQUÌ</a>                       
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Copyright -->
    <div class="copyright py-3 text-center text-white">
        <div class="container"><small>Copyright &copy; Eest1 Chivilcoy</small></div>
    </div>
    
</body>

@code {

    private class ProductoViewModel
    {
        public int Cantidad { get; set; }
        public bool Criolla { get; set; }
        public bool Chimi { get; set; }
    }

    private ProductoViewModel Model { get; set; } = new();

    private void CargarProductoCarro()
    {
            using var db = new CompraContext();

            Carrito carrito = db.Carritos.Include(c => c.Productos).ThenInclude(p => p.Adicionales).Where(c => c.UsuarioId == 1).SingleOrDefault();

            if (carrito is not null)
            {
                CarritoProducto carritoProducto = new CarritoProducto()
                {
                    ProductoId = 1,
                    Cantidad = Model.Cantidad,
                    Adicionales = new()
                };

                if (Model.Chimi)
                {
                    carritoProducto.Adicionales.Add(new CarritoProductoAdicional()
                    {
                        AdicionalId = 2,
                        Cantidad = 1
                    });
                }
                if (Model.Criolla)
                {
                    carritoProducto.Adicionales.Add(new CarritoProductoAdicional()
                    {
                        AdicionalId = 1,
                        Cantidad = 1
                    });
                }
                carrito.Productos.Add(carritoProducto);
                db.SaveChanges();
            }
            else
            {
                //anashe
            } 
    }

    private void VerCarrito()
    {
        using var db = new CompraContext();

        Carrito carrito = db.Carritos
        .Include(c => c.Usuario)
        .Include(c => c.Productos)
        .ThenInclude(p => p.Producto)
        .ThenInclude(p => p.Adicionales)
        .Include(c => c.Productos).ThenInclude(p => p.Adicionales)
        .Where(c => c.UsuarioId == 1).SingleOrDefault();
    }


        //private void CrearNombre()
        //{
        //    if (DeNombre.Chimi && DeNombre.Criolla)
        //        Model.Nombre = "Choripan con chimichurri y salsa criolla";
        //    else if (DeNombre.Chimi && !DeNombre.Criolla)
        //        Model.Nombre = "Choripan con chimichurri";
        //    else if (!DeNombre.Chimi && DeNombre.Criolla)
        //        Model.Nombre = "Choripan con salsa criolla";
        //    else
        //        Model.Nombre = "Choripan";
        //}

        //CrearNombre();


        //CarritoProducto carritoProducto = new CarritoProducto()
        //{
        //    Carrito = carrito,
        //    CarritoId = carrito.CarritoId,
        //    ProductoId = producto.ProductoId,
        //    Producto = producto,
        //    Cantidad = Model.Cantidad
        //};

        //carrito.Productos.Add(carritoProducto);
        //db.Add(carrito);
        //db.SaveChanges();
}