@inject IAuthorizationService AuthorizationService
@inject UserManager<Usuario> UserManager
@page "/tortas"

<h3>PestañaTortas</h3>

<select @bind="Model.Id">
    <option selected></option>
    <option value="3">Torta de chocolate</option>
    <option value="5">Torta de zanahoria</option>
    <option value="6">Torta de vainilla</option>
    <option value="7">Pastafrola</option>
    <option value="8">Brownie c/mani</option>
    <option value="9">Brownie s/mani</option>
    <option value="10">Torta de frambuesa</option>
</select>
<input @bind="Model.Cantidad" type="number" min="0" max="5" />
<br>

<button class="btn btn-primary" @onclick="CargarProductoCarrito">Agregar al carrito</button>

@code {
    private class ProductoViewModel
    {
        public int Id{ get; set; }
        public int Cantidad{ get; set; }
    }

    private ProductoViewModel Model { get; set; } = new();
    [CascadingParameter]
    private Task<AuthenticationState> AuthenticationStateTask { get; set; }

    private async void CargarProductoCarrito()
    {
        var user = (await AuthenticationStateTask).User;
        if (user.Identity.IsAuthenticated)
        {
            using var db = new CompraContext();
            var usuario = await UserManager.FindByNameAsync(user.Identity.Name);

            Carrito carrito = db.Carritos.Include(c => c.Productos).Where(c => c.UsuarioId == usuario.Id).SingleOrDefault();

            if (carrito is not null)
            {
                CarritoProducto carritoProducto = new CarritoProducto()
                {
                    ProductoId = Model.Id,
                    Cantidad = Model.Cantidad,
                    CarritoId = carrito.CarritoId,
                    Carrito = carrito
                };

                carrito.Productos.Add(carritoProducto);
                db.SaveChanges();
            }
            else
            {
                //anashe
            }
        }
    }
}
