@page "/chori"

<div>
    <form action="#">
        <div class="container">
            <h1>Ingrese la cantidad de choripanes que quiere:</h1>
            <input @bind="Model.Cantidad" type="number" min="0" max="5" />
            <br>
            <label>
                <input @bind="Model.Criolla" type="checkbox" />
                Salsa criolla
            </label>
            <br>
            <label>
                <input @bind="Model.Chimi" type="checkbox" />
                Chimichurri
            </label>
            <br>
        </div>
    </form>
    <button class="btn btn-primary" @onclick="CargarChoriCarro">Confirmar</button>
</div>

@code {
    private class ChoriViewModel
    {
        public int Cantidad { get; set; }
        public bool Criolla { get; set; }
        public bool Chimi { get; set; }
    }

    private ChoriViewModel Model { get; set; } = new();

    private void CargarChoriCarro()
    {
        using var db = new CompraContext();

        Carrito carrito = new Carrito()
            {
                ChoripanesC = new List<Choripan>()
            };
        Choripan choripan = new Choripan()
            {
                Cantidad = Model.Cantidad,
                Chimichurri = Model.Chimi,
                Criolla = Model.Criolla
            };
        carrito.ChoripanesC.Add(choripan);
        db.Add(carrito);
        db.SaveChanges();
    }
}
