@page "/hamburguesas"

<div>
    <form action="#">
    <section id="Labels">
        <div class="container">          
            <div class="Pan">

            </div>
            <div class="Lechuga">
                <input @onclick="Restar" type="button" value="-" />
                <img src=""><img />
                <input @onclick="Sumar" type="button" value="+" />
            </div>
            <div class="Tomate">
                <input @onclick="Sumar" type="button" value="-" />
                <img src=""><img />
                <input @onclick="Sumar" type="button" value="+"/>
            </div>
            <div class="Huevo">
                <input @onclick="Sumar" type="button" value="-"/>
                <img src=""><img />
                <input @onclick="Sumar" type="button" value="+"/>
            </div>
            <div class="Bacon">
                <input @onclick="Sumar" type="button" value="-"/>
                <img src=""><img />
                <input @onclick="Sumar" type="button" value="+"/>
            </div>
            <div class="Cheddar">
                <input @onclick="Sumar" type="button" value="-"/>
                <img src=""><img />
                <input @onclick="Sumar" type="button" value="+"/>
            </div>
            <div class="Tybo">
               <input @onclick="Sumar" type="button" value="-"/>
                <img src=""><img />
                <input @onclick="Sumar" type="button" value="+"/>
            </div>
            <div class="Jamon">
               <input @onclick="Sumar" type="button" value="-"/>
                <img src=""><img />
                <input @onclick="Sumar" type="button" value="+"/>
            </div>
            <div class="Cebolla">
              <input @onclick="Sumar" type="button" value="-"/>
                <img src=""><img />
                <input @onclick="Sumar" type="button" value="+"/> 
            </div>
            <div class="`Mayonesa">
               <input @onclick="Sumar" type="button" value="-"/>
                <img src=""><img />
                <input @onclick="Sumar" type="button" value="+"/>
            </div>
            <div class="Ketchup">
                <input @onclick="Sumar" type="button" value="-"/>
                <img src=""><img />
                <input @onclick="Sumar" type="button" value="+"/>
            </div>
            <div class="Mostaza">
               <input @onclick="Sumar" type="button" value="-"/>
                <img src=""><img />
                <input @onclick="Sumar" type="button" value="+"/>
            </div>
             <div class="Sabora">
                <input @onclick="Sumar" type="button" value="-"/>
                <img src=""><img />
                <input @onclick="Sumar" type="button" value="+"/>
            </div>
             <div class="Carne">
                 <input @onclick="Sumar" type="button" value="-"/>
                <img src=""><img />
                <input @onclick="Sumar" type="button" value="+"/>
            </div>
             <div class="Pan">
               <input @onclick="Sumar" type="button" value="-"/>
                <img src=""><img />
                <input @onclick="Sumar" type="button" value="+"/>
            </div>
             <div class="Cantidad">
                <input @onclick="Sumar" type="button" value="-"/>
                <img src=""><img />
                <input @onclick="Sumar" type="button" value="+"/>
            </div>
          
        </div>
       </section>
    </form>
    <button class="btn btn-primary" @onclick="CargarProductoCarro">Agregar al carrito</button>
    <button class="btn btn-primary" @onclick="VerCarrito">Ver carrito</button>
</div>
<div>
    <h2>Precio = @Model.Total.ToString("C")</h2>
</div>

@code {

    private void Sumar()
    {
        Model.LechugaCant++;
   }

    private void Restar()
    {
        Model.LechugaCant--;
    }
    private class ProductoViewModel
    {
        int _lechugaCant;

        public int LechugaCant
        {
            get
            {
                return _lechugaCant;
            }
            set
            {
                _lechugaCant = value;
                CalcularTotal();
            }
        }
        public int TomateCant { get; set; }
        public int HuevoCant { get; set; }
        public int BaconCant { get; set; }
        public int CheddarCant { get; set; }
        public int TyboCant { get; set; }
        public int JamonCant { get; set; }
        public int CebollaCant { get; set; }
        public int MayonesaCant { get; set; }
        public int KetchupCant { get; set; }
        public int MostazaCant { get; set; }
        public int SaboraCant { get; set; }
        public int CarneCant { get; set; } = 1;
        public int HamburguesaCant { get; set; } = 1;
        public int Total { get; set; }

        private async void CalcularTotal()
        {
            using var db = new CompraContext();

            Total = 0;
            Total = Total + ((await db.Adicionales.SingleAsync(a => a.AdicionalId == 5)).Precio * LechugaCant);
        }
    }

    private ProductoViewModel Model { get; set; } = new();

    private void CargarProductoCarro()
    {
        using var db = new CompraContext();

        Carrito carrito = db.Carritos.Include(c => c.Productos).ThenInclude(p => p.Adicionales).Where(c => c.UsuarioId == 1).SingleOrDefault();

        if (carrito is not null)
        {
            CarritoProducto carritoProducto = new CarritoProducto()
                {
                    ProductoId = 1,
                    Cantidad = Model.HamburguesaCant,
                    Adicionales = new()
                };

            carritoProducto.Adicionales.Add(new CarritoProductoAdicional()
                {
                    //pan
                    AdicionalId = 3,
                    Cantidad = 2
                });

            if (Model.CarneCant != 0)
            {
                //carne
                carritoProducto.Adicionales.Add(new CarritoProductoAdicional()
                    {
                        AdicionalId = 4,
                        Cantidad = Model.CarneCant
                    });
            }
            if (Model.LechugaCant != 0)
            {
                //lechuga
                carritoProducto.Adicionales.Add(new CarritoProductoAdicional()
                    {
                        AdicionalId = 5,
                        Cantidad = Model.LechugaCant
                    });
            }
            if (Model.TomateCant != 0)
            {
                //tomate
                carritoProducto.Adicionales.Add(new CarritoProductoAdicional()
                    {
                        AdicionalId = 6,
                        Cantidad = Model.TomateCant
                    });
            }
            if (Model.HuevoCant != 0)
            {
                //huevo
                carritoProducto.Adicionales.Add(new CarritoProductoAdicional()
                    {
                        AdicionalId = 7,
                        Cantidad = Model.HuevoCant
                    });
            }
            if (Model.BaconCant != 0)
            {
                //bacon
                carritoProducto.Adicionales.Add(new CarritoProductoAdicional()
                    {
                        AdicionalId = 8,
                        Cantidad = Model.BaconCant
                    });
            }
            if (Model.CheddarCant != 0)
            {
                //cheddar
                carritoProducto.Adicionales.Add(new CarritoProductoAdicional()
                    {
                        AdicionalId = 9,
                        Cantidad = Model.CheddarCant
                    });
            }
            if (Model.TyboCant != 0)
            {
                //tybo
                carritoProducto.Adicionales.Add(new CarritoProductoAdicional()
                    {
                        AdicionalId = 10,
                        Cantidad = Model.TyboCant
                    });
            }
            if (Model.JamonCant != 0)
            {
                //jamon
                carritoProducto.Adicionales.Add(new CarritoProductoAdicional()
                    {
                        AdicionalId = 11,
                        Cantidad = Model.JamonCant
                    });
            }
            if (Model.CebollaCant != 0)
            {
                //cebolla
                carritoProducto.Adicionales.Add(new CarritoProductoAdicional()
                    {
                        AdicionalId = 12,
                        Cantidad = Model.CebollaCant
                    });
            }
            if (Model.MayonesaCant != 0)
            {
                //mayonesa
                carritoProducto.Adicionales.Add(new CarritoProductoAdicional()
                    {
                        AdicionalId = 13,
                        Cantidad = Model.MayonesaCant
                    });
            }
            if (Model.KetchupCant != 0)
            {
                //ketchup
                carritoProducto.Adicionales.Add(new CarritoProductoAdicional()
                    {
                        AdicionalId = 14,
                        Cantidad = Model.KetchupCant
                    });
            }
            if (Model.MostazaCant != 0)
            {
                //mostaza
                carritoProducto.Adicionales.Add(new CarritoProductoAdicional()
                    {
                        AdicionalId = 15,
                        Cantidad = Model.MostazaCant
                    });
            }
            if (Model.SaboraCant != 0)
            {
                carritoProducto.Adicionales.Add(new CarritoProductoAdicional()
                    {
                        AdicionalId = 16,
                        Cantidad = Model.SaboraCant
                    });
            }

            carrito.Productos.Add(carritoProducto);
            db.SaveChanges();
        }
        else
        {
            //anashe
        }
    }

    private void VerCarrito()
    {
        using var db = new CompraContext();

        Carrito carrito = db.Carritos
        .Include(c => c.Usuario)
        .Include(c => c.Productos)
        .ThenInclude(p => p.Producto)
        .ThenInclude(p => p.Adicionales)
        .Include(c => c.Productos).ThenInclude(p => p.Adicionales)
        .Where(c => c.UsuarioId == 1).SingleOrDefault();
    }

    private void EscribirPrecio()
    {
        using var db = new CompraContext();

        int total = 0;

        var carritoProducto = db.CarritoProductos
        .Include(c => c.Adicionales)
        .ThenInclude(c => c.Adicional).ToList();

        var adicional = db.Adicionales.ToList();

        foreach (CarritoProducto c in carritoProducto)
        {
            foreach (CarritoProductoAdicional cpa in c.Adicionales)
            {
                total = total + (cpa.Adicional.Precio * cpa.Cantidad);
            }
        }
    }

}
