@page "/tortas"
 <body id="page-top">
    <!-- Barra de navegación-->
    <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="#page-top">Tortas</a>
            <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item mx-0 mx-lg-1"><a href="/" class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" style="cursor:pointer;" onclick="    document.getElementById('portfolio').scrollIntoView({behavior:'smooth'})" >Comidas</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a href="/" class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" style="cursor:pointer;" onclick="    document.getElementById('about').scrollIntoView({behavior:'smooth'})" >Quienes Somos?</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a href="/" class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" style="cursor:pointer;" onclick="    document.getElementById('contact').scrollIntoView({behavior:'smooth'})" >Contactanos</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Limites-->
    <header class="masthead bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">
            <h3>Selecciona la Torta ideal para vos!</h3>
            <div class=" gap-1">
            <select class="btn btn-dark p-2  border" @onclick="CambiarImagen" @bind="Model.Id">
                <option selected></option>
                <option value="3">Torta de chocolate</option>
                <option value="5">Torta de zanahoria</option>
                <option value="6">Torta de vainilla</option>
                <option value="7">Pastafrola</option>
                <option value="9">Brownie</option>
                <option value="10">Torta de frambuesa</option>
            </select>
            <input class="btn btn-dark p-1  border" @bind="Model.Cantidad" type="number" min="0" max="5" />
            </div>
            
            
            
            <br>
            <br>
            <img src="@Model.Source" />
            </div>
            <div class="gap-1">
            <button class="btn btn-dark p-2 border" @onclick="CargarProductoCarrito">Agregar al carrito</button>
            <button class="btn btn-dark p-2 border" @onclick="VerCarrito">Ver carrito</button>
             </div>
    </header>
           <footer class="footer text-center">
                <div class="container">
                    <div class="row">
                        <!-- Locación -->
                        <div class="col-lg-4 mb-5 mb-lg-0">
                            <h4 class="text-uppercase mb-4">Locación Escolar</h4>
                            <p class="lead mb-0">
                                Pellegrini 338.
                                <br />
                                6620, Chivilcoy, Buenos Aires, Argentina.
                            </p>
                        </div>
                        <!-- Iconos -->
                        <div class="col-lg-4 mb-5 mb-lg-0">
                            <h4 class="text-uppercase mb-4">Encontranos en...</h4>
                            <a class="btn btn-outline-light btn-social mx-1" href="https://www.facebook.com/Escuela-Industrial-Chivilcoy-106196239412818"><i class="fab fa-fw fa-facebook-f"></i></a>
                            <a class="btn btn-outline-light btn-social mx-1" href="https://twitter.com/dani_gariboldi"><i class="fab fa-fw fa-twitter"></i></a>
                            <a class="btn btn-outline-light btn-social mx-1" href="https://www.instagram.com/info7mo/"><i class="fab fa-fw fa-instagram"></i></a>
                            <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-dribbble"></i></a>
                        </div>
                        <!-- Donaciones -->
                        <div class="col-lg-4">
                            <h4 class="text-uppercase mb-4">Donaciones</h4>
                            <p class="lead mb-0">
                                Aceptamos donaciones para apoyar y contribuir con la Fiesta y el Viaje de Egresados.
                                <br>                       
                                <a href="http://startbootstrap.com">DONA AQUÌ</a>                       
                            </p>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- Copyright -->
            <div class="copyright py-3 text-center text-white">
                <div class="container"><small>Copyright &copy; Eest1 Chivilcoy</small></div>
            </div>
    
         </body>


@code {
    private class ProductoViewModel
    {
        public int Id{ get; set; }
        public int Cantidad{ get; set; }
        public string Source { get; set; } = "/css/imagenes/frol.jpg";
    }

    private ProductoViewModel Model { get; set; } = new();

    private void CambiarImagen()
    {
        if(Model.Id == 3)
        {
            Model.Source = "/css/imagenes/choco.png";
        }
        else if(Model.Id == 6)
        {
            Model.Source = "/css/imagenes/vanil.png";
        }
        else if(Model.Id == 7)
        {
            Model.Source = "/css/imagenes/frol.jpg";
        }
        else if(Model.Id == 9)
        {
            Model.Source = "/css/imagenes/brownie.png";
        }
         else if(Model.Id == 5)
        {
            Model.Source = "/css/imagenes/zanahoria.png";
        }
        else if(Model.Id == 10)
        {
            Model.Source = "/css/imagenes/frambuesa.png";
        }
    }

    private void CargarProductoCarrito()
    {
        using var db = new CompraContext();

        Carrito carrito = db.Carritos.Include(c => c.Productos) .Where(c => c.UsuarioId == 1).SingleOrDefault();

        if (carrito is not null)
        {
            CarritoProducto carritoProducto = new CarritoProducto()
            {
                ProductoId = Model.Id,
                Cantidad = Model.Cantidad,
            };

            carrito.Productos.Add(carritoProducto);
            db.SaveChanges();
        }
        else
        {
            //anashe
        }

    }
    private void VerCarrito()
    {
        using var db = new CompraContext();

        Carrito carrito = db.Carritos
        .Include(c => c.Usuario)
        .Include(c => c.Productos)
        .ThenInclude(p => p.Producto)
        .ThenInclude(p => p.Adicionales)
        .Include(c => c.Productos).ThenInclude(p => p.Adicionales)
        .Where(c => c.UsuarioId == 1).SingleOrDefault();
    }
}

