@page "/carrito"

<h3>PestañaCarrito</h3>

<label>
    nombre: @Model.Nombre
    <br>
    cant :@Model.Cantidad
    <br>
    precio: @Model.Precio
</label>

<input @onclick="VerCarrito" type="button" />

@code {
    private class CarritoViewModel
    {
        public string Nombre { get; set; }
        public int Precio{ get; set; }
        public int Cantidad{ get; set; }


    }

    private CarritoViewModel Model { get; set; } = new();

    private void VerCarrito()
    {
        using var db = new CompraContext();

        var carrito = db.Carritos
        .Include(c => c.Usuario)
        .Include(c => c.Productos)
        .ThenInclude(p => p.Producto)
        .ThenInclude(p => p.Adicionales)
        .Include(c => c.Productos)
        .ThenInclude(p => p.Producto)
        .Include(c => c.Productos)
        .ThenInclude(p => p.Producto)
        .ThenInclude(p => p.Adicionales)
        .Include(c => c.Productos).ThenInclude(p => p.Adicionales)
        .Where(c => c.UsuarioId == 1).ToList();

        if (carrito is not null)
        {
            foreach (Carrito c in carrito)
            {
                foreach (CarritoProducto cp in c.Productos)
                {
                    Model.Cantidad = cp.Cantidad;
                    Model.Nombre = cp.Producto.Nombre;
                    Model.Precio = cp.Producto.Precio;
                }
            }
        }
        else
        {
            //anashe
        }
    }

    private void EscribirPrecio()
    {
        using var db = new CompraContext();

        int total = 0;

        var carritoProducto = db.CarritoProductos
        .Include(c => c.Adicionales)
        .ThenInclude(c => c.Adicional).ToList();

        var adicional = db.Adicionales.ToList();

        foreach (CarritoProducto c in carritoProducto)
        {
            foreach (CarritoProductoAdicional cpa in c.Adicionales)
            {
                total = total + (cpa.Adicional.Precio * cpa.Cantidad);
            }
        }
    }
}
