@page  "/bebida"

<div>
  <h3>Seleccione bebida</h3>
    <select @bind="Model.Id">
    <option selected></option>
    <option value="28">Coca-Cola</option>
    <option value="29">Pepsi</option>
    <option value="30">Sprite</option>
    <option value="31">Fanta</option>
    </select>
    <br>
    <h4>Cantidad de bebidas</h4>
    <input @bind="Model.Cantidad" type="number" min="1" max="30" />
    <br>
    <br>
</div>

<button class="btn btn-primary" @onclick="CargarProductoCarrito">Agregar al carrito</button>
<button class="btn btn-primary" @onclick="VerCarrito">Ver carrito</button>
@code {
    private class ProductoViewModel
    {
        public int Id{ get; set; }
        public int Cantidad{ get; set; }
    }

    private ProductoViewModel Model { get; set; } = new();

    private void CargarProductoCarrito()
    {
        using var db = new CompraContext();

        Carrito carrito = db.Carritos.Include(c => c.Productos) .Where(c => c.UsuarioId == "1").SingleOrDefault();

        if (carrito is not null)
        {
            CarritoProducto carritoProducto = new CarritoProducto()
            {
                ProductoId = Model.Id,
                Cantidad = Model.Cantidad,
                CarritoId = carrito.CarritoId,
                Carrito = carrito,
            };

            carrito.Productos.Add(carritoProducto);
            db.SaveChanges();
        }
        else
        {
            //anashe
        }

    }
    private void VerCarrito()
    {
        using var db = new CompraContext();

        Carrito carrito = db.Carritos
        .Include(c => c.Usuario)
        .Include(c => c.Productos)
        .ThenInclude(p => p.Producto)
        .ThenInclude(p => p.Adicionales)
        .Include(c => c.Productos).ThenInclude(p => p.Adicionales)
        .Where(c => c.UsuarioId == "1").SingleOrDefault();
    }
}
