@page "/Registro"
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <div class="bordeinicio">
            <h1>Registrate!</h1>
            <div class="input-contenedor">
                <br>
                <i class="fa fa-address-card" aria-hidden="true"></i>
                <input type="text" placeholder="Nombre Completo">
            </div>
            <div class="input-contenedor">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <input type="text" placeholder="Correo Electronico">
            </div>
            <div class="input-contenedor">
                <i class="fa fa-key" aria-hidden="true"></i>
                <input type="password" placeholder="Contraseña">
            </div>
            <div class="input-contenedor">
                <i class="fa fa-key" aria-hidden="true"></i>
                <input type="password" placeholder="Repita contraseña">
            </div>
            <br>
            <div class="botonregistrar">
                <input type="submit" value="Registrate" class="button ">
            </div>
            <br>
            <br>
            <p class=" text-black">Al registrarte, estas aceptando nuestras Condiciones de uso y Politica de privacidad.</p>
            <p class=" text-black">Ya tienes cuenta? <a class="link text-black" href="/InicioSesion"> Iniciar Sesion</a></p>
        </div>
    </div>
</header>