@using BlazorApp1.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<Usuario> SignInManager
@inject UserManager<Usuario> UserManager
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
    </li>
    <li class="nav-item">
        <form id="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
            <button id="logout" type="submit" class="btn btn-danger">Cerrar Sesión</button>
        </form>
    </li>   
}
else
{
    
    <li class="masthead bg-primary text-white">
        <a class="btn btn-success" onclick="location.href='/Identity/Account/Login'">Inicia Sesión</a>
    </li>
    <li class="masthead bg-primary text-white">
        <a class="btn btn-dark" onclick="location.href='/Identity/Account/Register'">Registrate</a>
    </li>
}
</ul>
