<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorApp1</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="hamburguesas">
                <span class="iconify-inline" data-icon="bi:cart-check-fill" data-width="25" data-height="25"></span>ㅤHamburguesas
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="chori">
                <span class="iconify-inline" data-icon="bi:cart-check-fill" data-width="25" data-height="25"></span>ㅤChoris
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tortas">
                <span class="iconify-inline" data-icon="bi:cart-check-fill" data-width="25" data-height="25"></span> ㅤTortas
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="empanadas">
                <span class="iconify-inline" data-icon="bi:cart-check-fill" data-width="25" data-height="25"></span>ㅤEmpanadas
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pizzas">
                <span class="iconify-inline" data-icon="bi:cart-check-fill" data-width="25" data-height="25"></span>ㅤPizzas
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="carrito">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Carrito
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
